@charset "utf-8";
/* CSS Document */
body {
	background-color:#8FBAC4;
	font-size:100%;
	line-height: 1.6em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";	
}

article {
	width:80%;
	margin: 0 auto;
}
h1 { 
	font-weight: 100;
	font-color: rgb(77,77,77);
	font-size: 2.8em;
	line-height: 1.6em;
	
}
p {
font-size: 1.2em;
}

#toc {
	
	background-color:#368455;
	padding: 3% 5%;
	margin-bottom: 40px;
}

li {
	list-style:none;
}
dt {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}


dd{
	margin-right: 50px;
	margin-left:20px;
	padding-bottom: 20px;
}
.author{
	font-size: 1em;
	color:#FFFFFF;
}
.date {
	color:#aa660c;
}

h2{
	font-color:#ED5EEA;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}